<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add project</title>
    <link rel="stylesheet" href="/static/css/pure-min.css">
</head>
<body>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 80%;">
        <h3>Add project</h3>
        <form class="pure-form pure-form-aligned" method="POST">
            <fieldset>
                <div class="pure-control-group">
                    <label for="projectName">Project name</label>
                    <input type="text" name="projectName" id="projectName" required>
                    {% try %}
                    <span class="pure-form-message-inline" style="color: red;">{{err_msg}}</span>
                    {% except %}
                    {% end %}
                </div>
                <div class="pure-control-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description"></textarea>
                </div>
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>