<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add project</title>
    <link rel="stylesheet" href="/static/css/pure-min.css">
</head>
<body>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 80%;">
        <h3>Add Version</h3>
        <form class="pure-form pure-form-aligned" method="POST" enctype="multipart/form-data">
            <fieldset>
                <div class="pure-control-group">
                    <label for="version">Version</label>
                    <input type="text" name="version" id="version" required>
                    {% try %}
                    <span class="pure-form-message-inline" style="color: red;">{{err_msg}}</span>
                    {% except %}
                    {% end %}
                </div>
                <div class="pure-control-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description"></textarea>
                </div>
                <div class="pure-control-group">
                    <label for="file">App file</label>
                    <input type="file" name="file" id="file" required></input>
                </div>
                <div class="pure-controls">
                    <label for="forceUpdate">
                        <input type="checkbox" name="forceUpdate" id="forceUpdate" value="True"></input>
                        Force update
                    </label>
                </div>
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>