<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <style>
    </style>
</head>
<body>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 80%;">
        <h3>A Simple Service</h3>
        <p>
            <span style="margin-right: 16px;">{{username}}</span>
            <a href="/logout">[Log out]</a>
        </p>
        <p>
            <a class="pure-button pure-button-primary" href="/addProject">Add project</a>
        </p>
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>Project name</th>
                    <th>App Code</th>
                    <th style="max-width: 150px;">Description</th>
                    <th>Create date</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                {% for x in projects %}
                <tr>
                    <td>{{x.projectName}}</td>
                    <td>{{x.appCode}}</td>
                    <td>{{x.description}}</td>
                    <td>{{x.createDate}}</td>
                    <td><a href="/versionList/{{x.projectName}}" class="pure-button">Manage</a></td>
                </tr>
                {% end %}
            </tbody>
        </table>
    </div>
</body>
</html>