<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project versions</title>
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <style>
        p > span {
            margin-right: 24px;
        }
    </style>
</head>
<body>
    {% from datetime import datetime %}
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 80%;">
        <h3>Project versions</h3>
        <p>
            <a class="pure-button" href="/">&lt; Back to home</a>
            <a class="pure-button pure-button-primary" href="/addVersion/{{projectName}}">Add version</a>

            <ul style="min-width: 500px;">
                {% for x in versionList %}
                <li>
                    <p>
                        <b>verson: </b> <span>{{x.version}}</span>
                        <b>Create date: </b> <span>{{ datetime.fromtimestamp(x.createDate/1000).strftime('%Y-%m-%d %H:%M:%S') }}</span>
                    </p>
                    <p>
                        {% autoescape xhtml_unescape %} 
                        {{ x.description }}
                        {% autoescape None %}
                    </p>
                    <hr>
                    <p>
                        <a href="/download/{{projectName}}/{{x.version}}" class="pure-button">Download</a>
                    </p>
                </li>
                {% end %}
            </ul>
        </p>
    </div>
</body>
</html>